<h1><%= @post.title %></h1>
<img src="<%= url_for(@post.image) %>" >
<!-- 
json.array! @posts do |post|
    json.extract! post, :id, :title, :description, :author_id
    json.photoURL url_for(post.image)
end -->