.CreateForm-Container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // justify-content: center;
   width: 100%;
    height: 1000px;
    align-items: center;
}

.CreateForm-Header{
    font: 30px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
  }
.CreateForm{
    width: 80%;
    height: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Form-Error-Message{
  color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Form-Text{
 
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    margin-left: 30px;
    font: 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.Form-Text input {
    border: rgb(218, 215, 215) solid;
    border-width: thin;
    border-radius: 5pt;
}

::placeholder{
    font-size: 14px;
   color: grey;
}
.Form-Text textarea {
    border: rgb(218, 215, 215) solid;
    border-width: thin;
    border-radius: 5pt;
}

.Form-Text input:hover {
    border: rgb(155, 205, 235) solid;
    background-color: white;
    border-width: thin;
    border-radius: 5pt;
}
.Form-Text textarea:hover {
    border: rgb(155, 205, 235) solid;
    background-color: white;
    border-width: thin;
    border-radius: 5pt;
}


.Form-Input{
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px black solid;
    border-radius: 4px;
    font: 18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px 10px;
    margin: 7px 8px 15px 0;
    color: #444;
    background-color: rgba(245, 246, 247, 0.815);
    outline: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;

}

.Publish{
    text-decoration: none;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    height: 27px;
    width: 83px;
    font-size: 14px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #333333;
    border: 1px solid #999;
    border-radius: 4px;
    color: #fff;
    margin-top:3px;
    cursor: pointer;
}

.Input-File{
    text-decoration: none;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    height: 27px;
    width: 83px;
    font-size: 14px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #333333;
    border: 1px solid #999;
    border-radius: 4px;
    color: #fff;
    margin-top:3px;
    cursor: pointer;
}

.box-dragndrop{
    width: 800px;
    height: 500px;
    border-radius: 8px;
    border: dashed 2px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    font-size: 18px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.box-dragndrop i {
    font-size: 150px;
    color: #ccc;
}
.Input-Box:hover i{
  
    color: rgb(40, 119, 194);
}
.box-dragndrop h1{
    font-size: 30px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-dragndrop:hover{
    border-radius: 8px;
    border: dashed 2px rgb(240, 150, 213);
}


.box-dragndrop input{
    position: absolute;
    opacity: 0;
    width: 800px;
    height: 600px;
    margin-top: -135px;
}

.Input-Box{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Preview {
    width: 350px;
    height: 300px;
}


.publish-button {
  color:white;
  background-color: rgb(240, 125, 205);
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

  margin: 5px;
  margin-right: 10px;
  border: grey solid;
  align-items: center;
  border-width: thin;
  margin: 0;
  margin-right: 15px;
  height: 40px;
  padding: 0px 16px;

  border-radius: 5pt;
}

.publish-button:hover{
    background-color: rgb(240, 73, 190);
}
.cancel-button{
    color: grey;
    background-color: white;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

    border: rgb(207, 202, 202) solid;
    align-items: center;
    border-width: thin;
    margin: 0;
    margin-left: 15px;
    height: 40px;
    padding: 0px 16px;
    border-radius: 5pt;
}

.cancel-button:hover{
    background-color: white;
}


.Form-footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    border: rgb(192, 190, 190) solid;
    border-width: thin;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #FFFFFF;
}



.lds-ring {

    display: none;
    position: relative;
    left: -55px;
    top: 75px;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 165px;
    height: 165px;
    margin: 6px;
    border: 16px solid red;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(9, 240, 9) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .Sucess{
      display: none;
      margin-top: 17px;
  }

  .Sucess i {
    font-size: 165px;
      color: rgb(9, 240, 9);
  }

  .Sucess:hover i{
    color: rgb(9, 240, 9);
  }

  
  .Sucess h1 {
    font-size: 30px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .Preview-Container *{
    margin-bottom: 5px;
  }


  .lds-facebook {
    display: none;
    width: 64px;
    height: 64px;
    position: fixed;
    left: 50%;
    top: 50%;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 16px;
    background: rgb(238, 58, 184);
    border: rgb(240, 156, 215) solid;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: -20px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 65px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 120px;
    }
    50%, 100% {
      top: 19px;
      height: 60px;
    }
  }
  