.Errors-Banner{
    display: none;
    width: 100%;
    background-color: rgb(245, 64, 124);
    position: absolute;
    font-weight: bold;
    top: 0px;
    color: white;
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Errors-Banner h1{
    font-size: 25px;
    font-weight: bolder;
    margin: 50px 0px 0px 30px;
}

.Errors-Container{
    padding: 10px 0px 30px 20px;
    font-weight: bold;
    margin-left: 30px;

}

.Errors-Container li{
    list-style: disc;
}

.Close-Bannerbtn{
    position: absolute;
    left: 4px;
    top: 5px;
    border-radius: 50pt;
    color: black;
    font-size: 14px;
    font-weight: bolder;
}