
.Follow-btn{
    font-weight: bold;
    background-color: transparent;
    color: #ea4c89;
    display: inline;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    line-height: inherit;
    overflow: visible;
    position: relative;
    margin: 0px 5px;  
}

.Follow-btn:hover{
    color: #ea4c89;
    background-color: transparent;
    text-decoration: none;
}

.Unfollow-btn{

    font-weight: bold;
    background-color: transparent;
    color: #999;
    display: inline;
    padding: 0;
    line-height: inherit;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: visible;
    position: relative;
    margin: 0px 5px;  
}

.Unfollow-btn:hover{
    color: #ea4c89;
    background-color: transparent;
    text-decoration: none;
}