.Follow-btn{
    font-weight: bold;
    color: #ea4c89;
    background-color: white;
    border: #ea4c89 solid thin;
    border-radius: 3pt;
    display: inline;
    padding: 4px;
    line-height: inherit;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    
    margin: 0px 5px;  
}

.Follow-btn:hover{
    color: #f373a4cb;
    background-color: white;;
    text-decoration: none;
    border: #f373a4cb solid thin;

}

.Unfollow-btn{

    font-weight: bold;
    color: white;
    background-color: #ea4c89;
    border: #ea4c89 solid thick;
    border-radius: 3pt;
    display: inline;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    line-height: inherit;
   
    margin: 0px 5px;  



    
}

.Unfollow-btn:hover{
    color: white;
    background-color: #f373a4cb;;
    text-decoration: none;
    border: #f373a4cb solid thick;
}