.main-page-container{
    display: flex;
   
    flex-direction: column;
}

.main-banner{
    height: 400px;
    display: flex;
  
    flex-direction: row;   
    justify-content: center;
}

.main-banner-container{
    padding-top: 50px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container{
    height: 400px;
    width: 500px;
    margin-top: -40px;
}

.image-text{
    height: 400px;
    width: 500px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image-text-top{
    height: 270px;
    width: 500px;
}

.image-text-top-a{
    font-size: 45px;
    font-weight: bold;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -.05em;
}
.image-text-top-b{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.image-credit-text{
    height: 50px;
    width: 500px;
    font-size: 20px;
    letter-spacing: -.05em;
}



.Post-index-item{
    background-color: white;
    height: 300px;
    width: 22%;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box; 
    
    img{
        object-fit: cover;
    }
}


.Post-index-item:hover{
    box-shadow:  8px 6px #e0e0e0;
    padding: 22px;
    margin: 18px;
}


.Post-Index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.Post-Index-Container{
    width: 100%;
}


@media only screen and (max-width: 1400px) {
 
    // .Post-index-item {
    //     background-color: white;
    //     height: 300px;
    //     width: 50%;
    //     padding: 20px;
    //     margin: 20px;
    //     box-sizing: border-box;
    // }


    .Post-index-item{
        height: 400px;
        width: 45%;
    }

}


@media only screen and (max-width: 1200px) {
    .main-banner{
        max-height: 400px;
        display: flex;
        max-width: 1200px;
        flex-direction: row;   
        justify-content: center;
    }
    .main-banner-container {
      padding-top: 0;  
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      max-height: 400px;
      max-width: 1200px;
   
    }

    .image-container{
        margin-top: 65px;
        max-height: 70%;
        max-width: 75%;
    }

    .image-text{
        max-height: 30%;
        max-width: 100%;
        font-size: 1.5rem;
    }

    .image-text-top{
        max-height: 80%;
        max-width: 100%;
        font-size: 10px;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image-text-top-a{
      
        max-height: 50%;
        max-width: 100%;
        font-size: inherit;
        font-weight: inherit;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      
    }
    .image-text-top-b{
        // font-size: 20px;
        padding-top:0;
        max-height: 50%;
        max-width: 100%;
        font-size: inherit;
        font-weight: inherit;
       
    }
    
    .image-credit-text{
        max-height: 50%;
        max-width: 100%;
        font-size: inherit;
        font-weight: inherit;
        font-size: 17px;
    }
    
    
  }
.main-content{

    padding: 0px 30px 0px 30px;
    background-color: #F4F4F4;
}

.main-post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-post{
    height: 400px;
    width: 400px;
    margin: 20px;
}

.NAV-BAR{
    position: fixed;
    height: 130px;
    width: 60px;
    right: 0;
    top: 155px;
    padding-top: 10px;
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NAV-BAR a{
    padding: 5px;
}

.NAV-BAR i{
    font-size: 30px;
}

#linkedin{
    color:#0073B0;
}

// #github{
//     color: white;
// }

#angellist{
    color: rgb(230, 230, 230);
}