.main-page-container{
    // width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-banner{
    width: 100%;
    height: 30%;
    border: green solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-banner-container{
    border: red solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.image-container{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    border: blue solid;

}

.main-page-img{
    width: 30%;
    height: 100%;
}

.image-credit-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:pink solid;
    
}

.image-credit{
    width: 40%;
    border: purple solid;
}