.Main-nav{
    background-color: #FF5555;
    margin: 0 auto;
    padding: 0 10px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-nav-logo-cont{
    border: blue solid;
}
.main-nav-logo{
    border: green solid;
    width: 76px;
    height: 56px;
}