.Main-nav{
    background-color: aqua;
    margin: 0 auto;
    padding: 0 10px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-nav-logo{
    width: 76px;
    height: 56px;
}