.Profile-Container{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Navigation-Div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 40px;
    .Navigation-btn{
        margin: 0px 20px;
        height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        border: solid transparent;
        box-sizing: border-box;
    }

    .Navigation-btn:hover{
        border-bottom: black solid;
        cursor: pointer;
    }
}


.Profile-Content{
    display: flex;
    flex-direction: column;
}

.Profile-Summary{
    width: 100%;
    background-color: #FFFFFF;
    margin: 20px 0px;
    height: 450px;
    border-radius: 4pt;
    border: rgba(224, 219, 219, 0.733) solid;
    border-width: thin;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;


    .Profile-Picture{
        width: 80px;
        height: 80px;
        border-radius: 40pt;
        align-self: center;
        margin: 20px 0px 0px 0px;
    }

    .Profile-Summary img {
        margin-top: 25px;
    }
}



.Profile-Div{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.Profile-Lists{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 45px;
    border-bottom: rgba(224, 219, 219, 0.733) solid;
    border-width: thin;
}
.Profile-Lists * {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    font-weight: bold;
    line-height: 1.3;   
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:black;
}

.Profile-List-Div{
    display: flex;
    align-self: center;
    padding: 0;
}

.Profile-List-Div p{
    color: #8b8787;
    padding: 0;
    padding-right: 25px;
}
.Profile-List-Div a{
    padding: 0;
    padding-right: 5px;
}




.Profile-Posts{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start
}
.Profile-Name{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    letter-spacing: -.01em;
    color: #444;
    text-align: center;
}
.Profile-Location{
  
    text-align: center;
    font-size: 14px;
    color: #999;
    font-weight: normal;
}

.Profile-Message-Container{
    display: flex;
    margin-top: 10px;
    flex-direction: column;     
    align-items: center;
    height: 100%;
    width: 30%;
}

.Profile-Message-Container form {
    border: black solid thin;
    width: 90%;
    height: 100%;
    margin: 0px 15px 15px 15px;
    flex-direction: column;
}
.Profile-Message-Form textarea{
    height: 85%;
    padding: 5px;
}

.Profile-Message-Form input{
    align-self: flex-end;
    text-align: center;
    width: 100%;
    background-color: white;
    border-radius: 4pt;
    border: rgb(197, 194, 194) solid thin;
    cursor: pointer;

    &:hover{
        border: black solid thin;
    }
}

.Profile-Message{
   
    height: 100px;
    width: 100%;
    margin: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.3;   
    font-weight: 500;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:rgb(119, 116, 116);
}

.Profile-Message-Btn{
    width: 50px;
    margin-right: 21px;
    text-align: center;
    align-self: flex-end;
}


.Follow-div{
   margin-top: 10px;;
}



@media only screen and (max-width: 1200px) {

    .Profile-Message-Container{
        display: flex;
        margin-top: 10px;
        flex-direction: column;     
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .Post-index-item{
        height: 600px;
        width: 100%;
    }
}

